<app-navbar></app-navbar>

<div class="container">
  <h1 class="title-magazine centro">Revistas Científicas</h1>

  <!-- Barra de búsqueda -->
  <input type="text" class="search-bar" placeholder="Buscar revista..." />

  <div class="catalog">
    <!-- Ejemplo de revista -->
    <div class="magazine">
      <img src="assets/revista1.jpg" alt="Revista 1">
      <h3>Revista 1</h3>
      <p>Descripción de la Revista 1</p>
      <p>Fecha de publicación:</p>
    </div>
    <div class="magazine">
        <img src="assets/revista2.jpg" alt="Revista 2">
        <h3>Revista 2</h3>
        <p>Descripción de la Revista 2</p>
        <p>Fecha de publicación:</p>
      </div>
      <div class="magazine">
        <img src="assets/revista3.jpg" alt="Revista 3">
        <h3>Revista 3</h3>
        <p>Descripción de la Revista 3</p>
        <p>Fecha de publicación:</p>
      </div>
      <div class="magazine">
        <img src="assets/revista3.jpg" alt="Revista 3">
        <h3>Revista 3</h3>
        <p>Descripción de la Revista 3</p>
        <p>Fecha de publicación:</p>
      </div>
  </div>
</div>
