<app-navbar />

<main>
    <section class="highlighted-magazines">
        <h1>Revistas Destacadas</h1>
        <div class="magazine-list">
            <article class="magazine">
                <h2>Titulo de revista 1</h2>
                <p>Descripción breve de la revista científica 1.</p>
            </article>
            <article class="magazine">
                <h2>Titulo de revista 2</h2>
                <p>Descripción breve de la revista científica 2.</p>
            </article>
            <article class="magazine">
                <h2>Titulo de revista 3</h2>
                <p>Descripción breve de la revista científica 3.</p>
            </article>
        </div>
    </section>
</main>
